<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="HTTP to HTTPS" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <action type="Redirect" url="https://www.usaoffers.online" appendQueryString="true" />
                    <conditions>
                        <add input="(HTTPS)" pattern="off" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
        <httpRedirect enabled="false" destination="https://www.usaoffers.online/" exactDestination="true" httpResponseStatus="Permanent" />
    </system.webServer>
</configuration>
